<%- include('head'); %>
<body>
  <%- include('navbar'); %>

  <div class=" container-fluid section-banner">
    <div class="row">
    
      <div style="padding-left: 15vw; padding-top: 7vw;" class="col-md-7">
      <h5 style="font-size: 1.5rem; font-weight: 380; color: rgb(120, 182, 207);">Tüm Belgelerimiz M.E.B ve Üniversite Onaylıdır.</h5>
      <h1 style="padding-bottom: 20px; color: #002249; font-weight: 700; font-size: 3rem;">Hijyene Dair Herşey...</h1>
      <a href="iletisim-page.html"  style=" width: 70%; border-style: none; background-color:rgb(72, 133, 190); color: white !important; padding-top: 15px; padding-bottom: 15px; font-size: 1.2rem; text-decoration: none; padding: 10px;"><i class="bi bi-headset"></i> Hızlı Başvuru İçin Hemen Tıklayın !</a>
      </div>
      <div class="col-md-5 section-banner-right pt-5 pt-md-1"><img class="img-fluid"  src="/images/man-banner.png" alt="hijyen belgesi"></div>
    </div>
    </div>
  <div class="container-fluid card-section  ">
    <div class="row text-center ">
      <div class="col-12 col-md-3 p-5">
        <div class="card">
          <div class="card-icon"> 
            <i class="bi bi-people-fill"></i>
          </div>
          <div class="card-text">
            <h1 style="font-size: 1.4rem; ">uzman eğitim kadrosu</h1>
            <h1 style="font-size: 0.9rem; color: grey;" class="pt-3">Kadromuzdaki her bir eğitmen alanlarında uzmandır.</h1>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3 p-5">
        <div class="card">
          <div class="card-icon">
            <i class="bi bi-emoji-smile"></i>
          </div>
          <div class="card-text">
            <h1 style="font-size: 1.4rem;">Güler yüzlü hizmet</h1>
            <h1 style="font-size: 0.9rem; color: grey;" class="pt-3">Kurumumuza adım attığınız anda sizi güler yüzlü çalışanlarımız karşılar.</h1>
          </div>
        </div>
      </div>
  
      <div class="col-12 col-md-3 p-5">
        <div class="card">
          <div class="card-icon">
            <i class="bi bi-hand-thumbs-up-fill"></i>
          </div>
          <div class="card-text">
            <h1 style="font-size: 1.4rem; ">100% Müşteri memnuniyeti</h1>
            <h1 style="font-size: 0.9rem; color: grey;" class="pt-3">Amatör ruh, profesyonel hizmet yaklaşımı sonucunda mutlu müşterilere sahibiz.</h1>
          </div>
        </div>
      </div>
  
      <div class="col-12 col-md-3 p-5">
        <div class="card">
          <div class="card-icon">
            <i class="bi bi-check-square-fill"></i>
          </div>
          <div class="card-text">
            <h1 style="font-size: 1.4rem; ">Kurum odaklılık</h1>
            <h1 style="font-size: 0.9rem; color: grey;" class="pt-3">Kurumları tanıyor, yaşadıkları sorunları biliyoruz. Kurumsal çözümler üretiyoruz.</h1>
          </div>
        </div>
      </div>
  
    
  </div>
  </div>
  
  <div class="container-fluid neden-almalisiniz m-0 p-0">
    <div class="neden-almalisiniz-background "></div>
    <div class="row neden-almalisiniz-background-img m-0 p-0">
      <div class="col-12 col-lg-6 p-5">
          <img class="img-fluid " src="/images/100Firma.jpg" alt="neden hijyen belgesi almalıyız">
      </div>
        <div class="col-12 col-lg-6 p-5">
          <h1 style="font-weight: 700;">Neden Hijyen Belgesi Almalısınız?</h1>
          <p style="font-weight: 700; color:black">Hijyen belgesinin zorunlu olduğu sektör ve çalışanlar yasal sınırlar çerçevesinde güvence altına alınmaktadır. Belgeye sahip olmayan kişi, kurum ve işletmeler ilgili makamların tespit etmesi üzerine 250 TL-1000 TL para cezasına çarptırılmaktadır. 
          <br><br>  </p>
  
          <p  style="font-weight: 700; color: black;"><u> Gıda işletme sahipleri,Perakende gıda satışı yapan yerler,Su Üretimi ile İlgilenen İşletme ve Firmalar,Toptan Satış Yapan Yerler,Konaklama Yerleri,Gıda Taşımacılığı ve Servisi Yapan İşletmeler,Kuaför ve Berberler,Diğer Yurtlar,Öğrenci Yurtları,Misafirhane işletmeleri,Hamam, Havuz, Sauna,Otel, Motel ve Pansiyonlar,Temizlik İşletmeleri </u>
          <br><br> Hijyen belgesini almakla hükümlü olan işveren ve çalışanlar hakkında detaylı bilgi almak için hemen aşağıdaki linki tıklayın.Sizde hemen Hijyen Akademisi ailesine katılın…
          </p>
          <h1 style="font-size: 2rem; font-weight: 900; color:white;">110+ </h1> <h1>Firma...</h1>
            <div>
              <a href="#" ><i class="bi bi-telephone-forward"></i> Detaylı bilgi için arayın !</a>
            </div>
      </div>
    </div>
  </div>
  
  
  <div class="container e-Devlet-section">
    <div class="row d-flex justify-content-center p-5"> 
      <img style="width:auto ; height:auto ;" src="/images/edevlet.jpg" alt="e devlet onaylı hijyen belgesi">
    </div>
  </div>
  
  
  <div class="container-fluid section-egitimler">
    <div class="row" >
      <h4>Hijyen akademi olarak verdiğimiz eğitimler</h4>
      <div class="col-12 col-md-4 card p-5">
        <img class="card-img-top" src="/images/eğitimler1.jpg" alt="hijyen akademi eğitimleri">
        <div class="card-body">
          <h5 class="card-title text-center">Gıda ve Su Sektöründe Çalışanlar İçin HİJYEN EĞİTİMİ
          </h5>
        </div>
      </div>
      <div class="col-12 col-md-4  card p-5">
        <img class="card-img-top" src="/images/eğitimler2.jpg" alt="hijyen akademi eğitimleri">
        <div class="card-body">
          <h5 class="card-title text-center">Güzellik ve Saç Bakım Sektörü İçin HİJYEN EĞİTİMİ</h5>
         </div>
      </div>
      <div class="col-12 col-md-4  card p-5">
        <img class="card-img-top" src="/images/eğitimler3.jpg" alt="hijyen akademi eğitimleri">
        <div class="card-body">
          <h5 class="card-title text-center">Sterilizasyon ve Dezenfeksiyon Eğitimi</h5>
          </div>
      </div>
    </div>
  </div>
  
  <div class="container-fluid preference-section" style="text-align: center;">
    <div class="row preference-section-title">
      <h1 style="padding-top: 20px;">Neden bizi tercih etmelisiniz</h1>
      <h5 style="color: grey;">işte bizi tercih etmeniz için bir kaç sebep..</h5>
    </div>
    <div class="row">
      <div class="col-md-3 pb-5">
        <div class="card-p">
          <div class="card-p-icon"><i class="bi bi-bullseye"></i></div>
          <div class="card-p-text">KALİTELİ HİZMET
            </div>
        </div>
      </div>
      <div class="col-md-3 pb-5">
        <div class="card-p">
          <div class="card-p-icon"><i class="bi bi-hand-thumbs-up"></i></div>
          <div class="card-p-text">MÜŞTERİ MEMNUNİYETİ</div>
        </div>
      </div>
      <div class="col-md-3 pb-5">
        <div class="card-p">
          <div class="card-p-icon"><i class="bi bi-hand-index-thumb"></i></div>
          <div class="card-p-text">ÇÖZÜM ORTAKLIĞI</div>
        </div>
      </div>
      <div class="col-md-3 pb-5">
        <div class="card-p">
          <div class="card-p-icon"><i class="bi bi-emoji-smile"></i></div>
          <div class="card-p-text">GÜLERYÜZLÜ KADRO</div>
        </div>
      </div>
     
    </div>
    <div class="row">
      <div class="col-md-3 pb-5">
        <div class="card-p">
          <div class="card-p-icon"><i class="bi bi-people"></i></div>
          <div class="card-p-text">TEKNİK DANIŞMANLIK
            </div>
        </div>
      </div>
      <div class="col-md-3 pb-5">
        <div class="card-p">
          <div class="card-p-icon"><i class="bi bi-alarm"></i></div>
          <div class="card-p-text">ZAMAN YÖNETİMİ</div>
        </div>
      </div>
      <div class="col-md-3 pb-5">
        <div class="card-p">
          <div class="card-p-icon"><i class="bi bi-pc-display"></i></div>
          <div class="card-p-text">TEKNOLOJİK ÇÖZÜMLER</div>
        </div>
      </div>
      <div class="col-md-3 pb-5">
        <div class="card-p">
          <div class="card-p-icon"><i class="bi bi-ear-fill"></i></div>
          <div class="card-p-text">HİZMET DESTEĞİ</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid section-we">
    <div class="row">
      <div class="section-we-background"></div>
      <div class="section-we-background-filter"></div>
      <div class="col-md-12 section-we-content">
      <h1 style="color: gray;">Biz Kimiz?</h1>
      <h4 style="color:#002249;">Kalite - Tecrübe ve Yeni Nesil Teknoloji</h4>
      <p style="color: #002249; font-size: 1.2rem; font-weight: 400;">Hijyen Akademi olarak, bünyemizde kayıtlı kursiyerlerimize önce eğitim danışmanlığı, ardından belgelendirme hizmeti sunarak memnuniyeti her daim en üst safhada tutuyoruz.<br><br>
  
        Hem bireysel olarak hem de firma bazında tüm konularda danışmanlık yaparak herkese başarılı gelecek oluşturmayı hedefliyoruz.<br><br>
        
        Gelişmekte ve değişmekte olan eğitim faaliyetlerini en güncel ve en güvenli şekilde bünyemizde bulundurarak sadece Türkiye içerisinde değil birçok ülkeye hizmet sunuyoruz.<br><br>
        
        “Eğitimli birey her sektörde öncüdür.” diyerek, tüm kursiyerlerimizin başarılı birer çalışma arkadaşı olmasını amaçlıyoruz.<br><br>
        
        Birbirinden farklı eğitim programlarımızla her kesimden insana hitap ederek, sertifikalandırma işlemlerini tamamlıyoruz.</p>
      </div>
    </div>
  </div>
  
  
    
  <%- include('contact') %>

  <%- include('footer'); %>
  <%- include('scripts') %>
</body>
</html>