<%- include('../head'); %>
<body>
  <%- include('../navbar'); %>
  <div class="container-fluid online-page-banner d-flex justify-content-center" style="background-color: rgb(228, 240, 240); ">     
    <img  src="/images/online.jpg" alt="">
</div>

<div class="container-fluid p-5">
<div class="online-page-form-content"><!-- adsoyad,telno,eposta,ticari ünvan,adress,website(zorunlu degil) -->
 <form action="/basvuru" method="POST">
   <div class="form-group">
     <label for="name">Ad soyad *</label>
     <input type="text" class="form-control" id="name" required>
   </div>
   <div class="form-group">
     <label for="telno">Tel no *</label>
     <input type="text" class="form-control" id="telno" required>
   </div>
   <div class="form-group">
     <label for="eposta">E posta *</label>
     <input type="text" class="form-control" id="eposta" required>
   </div>
   <div class="form-group">
     <label for="ticariunvan">Ticaret Ünvanı *</label>
     <input type="text" class="form-control" id="ticariunvan" required>
   </div>
   <div class="form-group">
     <label for="adres">Adres *</label>
     <input type="text" class="form-control" id="adres" required>
   </div>
   <div class="form-group">
     <label for="website">Website (Zorunlu Değil)</label>
     <input type="text" class="form-control" id="website" required>
   </div>
   
  
   <button type="submit" class="btn btn-primary w-100">Gönder</button>
 </form>
</div>
</div>
<%- include('../contact') %>

  <%- include('../footer'); %>
  <%- include('../scripts') %>
</body>
</html>