<%- include('../head'); %>
<body>
  <%- include('../navbar'); %>
  <div class="container-fluid online-page-banner d-flex justify-content-center" style="background-color: rgb(228, 240, 240); ">     
    <img  src="/images/online.jpg" alt="">
</div>

<div class="container-fluid p-5">
<div class="online-page-form-content"><!-- adsoyad,telno,eposta,ticari ünvan,adress,website(zorunlu degil) -->
 <form action="/basvuru" method="POST">
   <div class="form-group">
     <label for="name">Ad soyad *</label>
     <input type="text" class="form-control" id="name" name="name" required>
   </div>
   <div class="form-group">
     <label for="phone">Tel no *</label>
     <input type="text" class="form-control" id="phone" name="phone" required>
   </div>
   <div class="form-group">
     <label for="email">E posta *</label>
     <input type="text" class="form-control" id="email" name="email" required>
   </div>
   <div class="form-group">
     <label for="ticariunvan">Ticaret Ünvanı *</label>
     <input type="text" class="form-control" id="ticariunvan" name="ticariunvan" required>
   </div>
   <div class="form-group">
     <label for="adress">Adres *</label>
     <input type="text" class="form-control" id="adress" name="adress" required>
   </div>
   <div class="form-group">
     <label for="website">Website (Zorunlu Değil)</label>
     <input type="text" class="form-control" id="website" name="website" required>
   </div>
   <button type="submit" class="btn btn-primary w-100">Gönder</button>
 </form>
</div>
</div>
<%- include('../contact') %>

  <%- include('../footer'); %>
  <%- include('../scripts') %>
</body>
</html>