<%- include('../head'); %>
<body>
  <%- include('../navbar'); %>
 

   

  <div style="padding: 0 7vw; margin-top: 60px;" class="container">
    <div class="horizantal-cards">
        <% data.forEach(function(post){ %>
            <%- include('blog-post',{post})  %>
          <% }); %>
    
</div>
</div>
  <%- include('../contact') %>

  <%- include('../footer'); %>
  <%- include('../scripts') %>
</body>
</html>