<%- include('../head'); %>
<body>
  <%- include('../navbar'); %>
  <div style="padding: 0 7vw; margin-top: 60px;" class="container">
    <div class="horizantal-cards">
            <%- include('blog-post-details-card',{data}) %>
</div>
</div>
  <%- include('../contact') %>
  <%- include('../footer'); %>
  <%- include('../scripts') %>
</body>
</html>