<%- include('../head'); %>
<body>
  <%- include('../navbar'); %>
    Hijyen belgesi sayfası
  <%- include('../contact') %>

  <%- include('../footer'); %>
  <%- include('../scripts') %>
</body>
</html>