<%- include('../head'); %>
<body>
  <%- include('../navbar'); %>
  <div class="container-fluid" style="background-color:rgb(228, 240, 240); ">
    <div class="row" style="text-align: center;">
      <div class="col-md-4 offset-md-2" style="padding-top: 10vw;  text-align: center;">
          <h4 style="color:#002249; font-weight: 700;">Hijyen Akademisi güvencesiyle <br> hijyen sertifikanız elinizde</h4>

      </div>
      <div class="col-md-6">
       <img style="width: 20rem; border-radius: 60px;" src="/images/hijyen-sert.jpg" alt="">
      </div>
    </div>
</div>

<div class="container section-belge">
    <div style="text-align: center; padding-top: 50px;" class="row">
        <h1>HİJYEN BELGESİ</h1>
        <h5>hijyen belgesi hakkında bilmeniz gerekenler</h5>
    </div>
    <div style="padding: 0 10vw;" class="row">
    <h2 style="color: grey;">Hijyen belgesi nedir?</h2>
    <p>Hijyen belgesi nedir, nereden alınır? Sorusu hala aktüelliğini koruyor. Bu yazımızda hijyen sertifikası nedir, nereden alınır sorularını cevaplayacağız. Hijyen belgesi, insanların sağlığına zarar verecek ortamlarda alınan tedbirleri uygulamalı olarak gösteren hijyen eğitimi sonrası verilen belgedir. Hijyen sertifikası, ilgili bakanlık tarafından yayınlanan hijyen eğitimi yönetmeliğine göre zorunludur.</p>
    <p>Hijyen belgesi almak için 0552 479 94 53 numaralı telefondan hemen bize ulaşarak gerekli bilgiyi alabilir ve hijyen sertifikası sahibi olabilirsiniz. Hijyen eğitimi yönetmeliği 2013 yılında yürürlüğe girdi ve geçen 5 yıl içerisinde binlerce kişi belgesini alarak çalışanların daha sağlıklı ortamda işlerini yapma imkanı tanıdır. Hijyen belgesini almayı zorunlu kılan bu yönetmeliğin amacı özellikle gıda sektöründe çalışan bireylerin hijyen konusunda bilinçlenmesi ve işçilerin daha sağlıklı ortamda çalışarak hastalıklara yakalanmalarının engellenmesidir. Hijyen sertifikasının alınması zorunludur ve kurala uymayan kişi ve iş yerlerine ceza kesilmesi esas görülmüştür.</p>
<h2 style="color: grey;"> Hijyen Belgesi Hangi İşletmeler İçin Zorunludur</h2>
<p>Her şeyin başı sağlık, sağlık olsun gibi sözleri gündelik hayatımızda o kadar çok duyarız ki kendimiz de bir o kadar kullanırız. Çünkü gerçekten bu hayattaki belki de en önemli varlığımızdır. İnsanlar gençken varlık (mal-para) için sağlığını feda edercesine çalışır, sağlığını kaybedince ise tüm varlığını harcamaktan çekinmezmiş. Gerçekten de bu denli önemli olan sağlığın ilk adımı ise hijyenden geçiyor. Bu yüzden hemen herkesin alması gereken hijyen eğitimleri, devlet tarafından Hijyen Eğitimi yönetmeliği ile de bazı iş kollarına zorunlu hale getirilmiştir.</p>
<p>Bu yönetmelik gereği; <br>
    Restoranlar, yemekhaneler gibi gıda üretimi yapılan yerler, otel, motel, pansiyonlar, güzellik merkezleri, dövme ve pirsing yapılan işyerleri, kaplıcalar, hamam işletmesi yapılan yerler, masaj salonları, insani tüketim amaçlı sular üreten işyerleri ve komisyon tarafından verilmesi uygun görülen diğer iş kolları da bu eğitimi aldırmakla yükümlüdürler.</p>
    <p>Eğer işveren kendisi de bu iş kollarında bizzat çalışıyor ise kendisi de bu eğitimi almak durumundadır. Bu eğitimlerin alınmasından işveren bizzat sorumlu olup, hijyen eğitimi sertifikası bulunmayan personel çalıştırması durumunda her bir personel için ayrı ayrı 5 Temmuz 2013 tarihli Hijyen Eğitimi Yönetmeliği ve 1593 Sayılı Umumi Hıfzıssıhha Kanunun ilgili maddelerince bu eğitimi aldırmayan ilgili işyerlerine cezai işlem uygulanmaktadır.</p>
    <p>Bu yönetmeliğin kapsadığı işyerlerinde Genel Müdürlük tarafından verilen belgeye sahip olmayan kişiler çalıştırılamaz. Eğitimler, Genel Müdürlüğe bağlı öğretim kurumlarınca verilebilmektedir. Hijyen eğitimleri yönetmelik gereği 8 saatten az olmamak üzere komisyonca belirlenen eğitim içeriklerine uygun olmak durumundadır. Sizler de bu konuda tüm yeterliliğini sağlamış bulunan kurumumuzla iletişime geçebilirsiniz. İşyerinizin faaliyet konusu da göz önünde bulundurularak uygun eğitim programları tarafımızca düzenlenecektir.</p>
    <p>Katılımcılara üniversite onaylı olarak ve e-devlet sistemi üzerinden de görüntülenebilen katılım sertifikaları düzenlenir ve bu belgeler kişi hizmet verdiği müddetçe geçerlidir. Yani çalışan 1 kez bu sertifikayı aldığında çalışma hayatı boyunca geçerliliğini korur.</p>
    <p>Unutmayalım ki sağlık ve hijyen kendimiz, ailemiz, işyerimiz ve toplumumuz için elzemdir. Bilinçli bireyler için ve sağlıklı yarınlar için uzman kadromuzla yanınızdayız.</p>
    <h2 style="padding-top: 15px; color: grey;">Hijyen belgesi alması zorunlu sektör ve kişiler</h2>
    <p>Hijyen belgesi sadece işçilere değil, işyeri sahibi ve işverenler için de zorunludur. Belgeyi alması gereken işyerleri şunlardır:</p>
    <ul >
        <li><i class="bi bi-arrow-right"></i> su üretimi yapan yerler</li>
        <li<i class="bi bi-arrow-right"></i> >Doğal su ve mineral üretimi yapan yerler</li>
        <li><i class="bi bi-arrow-right"></i> Gıda üreten işyerleri</li>
        <li><i class="bi bi-arrow-right"></i> Perakende gıda satışı yapan yerler</li>
        <li><i class="bi bi-arrow-right"></i> Gıda taşımacılığı veya servisi yapan yerler</li>
        <li><i class="bi bi-arrow-right"></i> Pansiyonlar</li>
        <li><i class="bi bi-arrow-right"></i> Oteller</li>
        <li><i class="bi bi-arrow-right"></i> Moteller</li>
        <li><i class="bi bi-arrow-right"></i> Misafirhaneler</li>
        <li><i class="bi bi-arrow-right"></i> Yurtlar</li>
        <li><i class="bi bi-arrow-right"></i> Öğrenci Yurtları</li>
        <li><i class="bi bi-arrow-right"></i> Konaklama yerleri</li>
        <li><i class="bi bi-arrow-right"></i> Temizlik hizmetleri veren yerler</li>
        <li><i class="bi bi-arrow-right"></i> İnsan teniyle direkt temasta bulunan hizmet veren kurumlar</li>
        <li><i class="bi bi-arrow-right"></i> Kuaför</li>
        <li><i class="bi bi-arrow-right"></i> Mutfaklar</li>
        <li><i class="bi bi-arrow-right"></i> Berber</li>
        <li><i class="bi bi-arrow-right"></i> Hamam</li>
        <li<i class="bi bi-arrow-right"></i> >Havuz</li>
        <li><i class="bi bi-arrow-right"></i> Sauna ve benzeri yerlerde çalınanlar hijyen belgesi almak zorundadır.</li>
        
    </ul>
    <p>Hijyen.com.tr 'den alacağınız hijyen eğitimini tek kişiye veya toplu işyerinin bütün çalışanlarına aynı derste verilmektedir. Hijyen kursu minimum 8 saat olmalıdır.</p>
    
    <h3 style="color: grey;">Hijyen belgesi için gerekli belgeler</h3>
    <ul>
        <li><i class="bi bi-arrow-right"></i> nüfus cüzdanı fotokopisi</li>
        <li><i class="bi bi-arrow-right"></i> okuma yazma belgesi</li>
    </ul>

    <h3 style="color: grey;">Eğitimin içeriği</h3>
    <p>Hijyen belgesi eğitiminde işlenecek konular;</p>

<ul>
   <li><i class="bi bi-arrow-right"></i> Hastalıklar neden olan mikrop ve virüslerin özellikleri</li>
  <li><i class="bi bi-arrow-right"></i> Ne şekilde bulaştıkları</li>
  <li><i class="bi bi-arrow-right"></i> Hastalıklara yakalanma riskini azaltma önlemleri</li>
 <li><i class="bi bi-arrow-right"></i> Çalışanlara yönelik yasa</li>
  <li><i class="bi bi-arrow-right"></i> Mikrop tanımı</li>
 <li><i class="bi bi-arrow-right"></i> Mikrop çeşitleri</li>
 <li><i class="bi bi-arrow-right"></i> Mikropların bulaşma yolları</li>
 <li><i class="bi bi-arrow-right"></i> Hastalıkların Kaynakları</li>
  <li><i class="bi bi-arrow-right"></i> Hastalıkların bulaşma yolları</li>
   <li<i class="bi bi-arrow-right"></i> >Enfeksiyon zinciri</li>
<li><i class="bi bi-arrow-right"></i> Sık görülen hastalıklar</li>
</ul>

<p>Hijyen belgesi eğitimi, eğitim içeriği ve fiyatları hakkında çekinmeden 0552 479 94 53 'dan bizi arayarak bilgi alabilirsiniz.

</p>
  </div>
</div>

  <%- include('../contact') %>

  <%- include('../footer'); %>
  <%- include('../scripts') %>
</body>
</html>