<%- include('../head'); %>
<body>
  <%- include('../navbar'); %>
  <div class="container section-connect">
    <div style="height: 100%; text-align: center;" class="row ">
      <h3>Bize Ulaşın</h3>
      <h5><i class="bi bi-telephone-outbound-fill"></i>Telefon Numaramız :  0552 479 94 53</h5>
      <h5><i class="bi bi-envelope-fill"></i>Mail adresimiz :  iletisimhijyenakademi@gmail.com </h5>
    </div>
  </div>
  <%- include('../contact') %>

  <%- include('../footer'); %>
  <%- include('../scripts') %>
</body>
</html>