<%- include('../head'); %>
<body>
  <%- include('../navbar'); %>
  <div class="container-fluid" style="background-color: rgb(228, 240, 240); ">
    <div class="row" style="justify-content: center;">
       <img style="width: 35rem; border-radius: 60px;" src="/images/exam.jpg" alt="">
        
    </div>
</div>

<div class="container section-exam">
    <div style="padding: 0 7vw; margin-top: 60px; text-align: center; margin-bottom: 40px;" class="row">
        <div class="col-md-12">
          <h3>Hijyen sınavına girmek için tıklayınız</h3>
          <p>(Sınavı geçmek için soruların 60% 'lık kısmını doğru cevaplandırmanız gerekmektedir. Başarılar <i class="bi bi-emoji-smile"></i>)</p>
           <a id="signExam"> <button  style="border-radius: 8px;" class="custom-button">Sınava gir</button></a>
        </div>
       
    </div>
</div>
  <%- include('../contact') %>

  <%- include('../footer'); %>
  <%- include('../scripts') %>
</body>
</html>