<%- include('../head'); %>
<body>
  <%- include('../navbar'); %>
  <div class="container-fluid" style="background-color: rgb(228, 240, 240); ">
    <div class="row" style="justify-content: center;">
       <img style="width: 35rem; border-radius: 60px;" src="/images/sorular.jpg" alt="">
        
    </div>
</div>

<div class="container">
    <div class="row acordion-row" style="padding: 0 7vw; margin-top: 60px; margin-bottom: 60px;">
        <div class="col-md-12">
          <button class="accordion"> <i class="bi bi-plus-circle"></i> 05 Temmuz 2013 tarihinde resmi gazetede yayınlanan hijyen eğitimi yönetmeliği kapsamında gıda ile temas eden madde ve malzeme üreticileri yer almıyor. Biz bu yönetmelik kapsamında mıyız?</button>
<div class="panel2">
<p>Evet. 06/05/2014 tarihinde Milli Eğitim Bakanlığı Hayat Boyu Öğrenme Genel Müdürlüğü'nün yayınladığı 26022156/101.04/1801226 sayılı yazı ile üretim yapmaksızın her türlü gıda ürünü paket ve ambalajı üreticileri gıda ile temas eden madde ve malzeme üretimindeki personeline Hijyen Eğitimi aldırması gerekmektedir.</p>
</div>



<button class="accordion"><i class="bi bi-plus-circle"></i>Kalite güvence bölümünde çalışıyorum kimya / gıda mühendisiyim, kimyagerim. Şimdiye kadar firmada bu eğitimleri ben veriyordum. Bu eğitimleri ben verebilir miyim?</button>
<div class="panel2">
<p>Hayır. Hijyen eğitimlerini Tıp Fakültesi, Hemşirelik Yüksek Okulu, Sağlık Yüksek Okulu, Sağlık Eğitim Fakültesi, Sağlık Bilimleri Fakültesi, Tıbbi Laboratuar alanında eğitim almış olan Tıbbi Biyolojik Bilimler Bölümü ve Fen Fakültesi/Fen-Edebiyat Fakültesinin Biyoloji bölümlerinden mezun olanlar tarafından verilmelidir.</p>
</div>

<button class="accordion"><i class="bi bi-plus-circle"></i>Hijyen eğitimini nasıl aldıracağız?</button>
<div class="panel2">
<p>Hijyen eğitimleri, sertifikalı eğitmenlerimiz tarafından kurumumuzda verilmekteri.</p></div>

<button class="accordion"><i class="bi bi-plus-circle"></i>Hijyen eğitimine kimler katılmalıdır?</button>
<div class="panel2">
<p>Üretim yapmaksızın her türlü gıda ürünü paket ve ambalajı üreticileri gıda ile temas eden madde ve malzeme üretimindeki personeline Hijyen Eğitimi aldırması gerekmektedir. İş yeri sahipleri ve işletenleri, çalışanlarının hijyen eğitimi almasından ve belgeli olarak çalıştırılmasından birinci derecede sorumludur. Bizzat çalışmaları durumunda iş yeri sahipleri ve işletenleri de bu eğitimi almaya mecburdur.</p></div>

<button class="accordion"><i class="bi bi-plus-circle"></i>Hijyen eğitiminin içeriği ne olmalıdır?</button>
<div class="panel2">
<p>Eğitimlerin içerikleri, hijyen ilkelerine uyulmaması sebebiyle halk sağlığı açısından risk oluşturduğu bilinen virüslerin, bakterilerin, parazitlerin, mantarların ve diğer enfeksiyon etkenlerinin genel özelliklerini, bulaşma yollarını, hangi iş kolunda nasıl bulaşmalar olabileceğini veya halk sağlığının nasıl tehdit göreceğini, hastalık belirtilerini ve korunma yollarını ihtiva eder.</p></div>

<button class="accordion"><i class="bi bi-plus-circle"></i>Hijyen eğitimi ne kadar sürecektir?</button>
<div class="panel2">
<p>Eğitim süresi 40 saat olmalıdır. İhtiyaç duyulması ya da öngörülmesi halinde eğitim 8 saat daha uzatılabilir.</p></div>

<button class="accordion"><i class="bi bi-plus-circle"></i>Hijyen eğitimi yönetmeliğiyle amaçlanan nedir?</button>
<div class="panel2">
<p>Gıda üretim ve perakende iş yerlerinde, insani tüketim amaçlı sular ile doğal mineralli suları üreten iş yerlerinde ve insan bedenine temasın söz konusu olduğu temizlik hizmetlerinin verildiği iş yerlerinde çalışanlara yönelik hijyen eğitimi programlarının planlanmasına, eğitimlerin verilmesine, iş yeri sahibinin, işletenlerin ve çalışanların bu konudaki sorumluluklarına, bu iş yerlerinde çalışmaya engel bulaşıcı hastalıkların ve cilt hastalıklarının belirlenmesine ve bu hastalıkların iyileşme hâlinin tespitine ilişkin usul ve esasları belirlemektir.</p></div>

<button class="accordion"><i class="bi bi-plus-circle"></i>Hijyen eğitimi kapsamına giren iş kolları nelerdir?</button>
<div class="panel2">
<p>a) Gıda üretim ve perakende iş yerleri.
b) İnsani tüketim amaçlı sular ile doğal mineralli suların üretimini yapan iş yerleri.<br>
c) Kaplıca, hamam, sauna, berber, kuaför, dövme ve pirsing yapılan yerler, masaj ve güzellik salonları ve benzeri yerler.<br>
ç) Otel, motel, pansiyon ve misafirhane gibi yerler.<br>
d) Komisyon tarafından hijyen eğitimi verilmesi uygun görülen diğer iş kolları.<br> <br> <br>

# Bu Yönetmelik, 11/6/2010 tarihli ve 5996 sayılı Veteriner Hizmetleri, Bitki Sağlığı, Gıda ve Yem Kanunu kapsamındaki iş yerlerinde çalışan kişiler için mecburi olan gıda hijyeni eğitim konularını kapsamaz.</p></div>

<button class="accordion"><i class="bi bi-plus-circle"></i>Kişiler hijyen eğitimi belgesi olmadan çalıştırılabilir mi?</button>
<div class="panel2">
<p>Bu Yönetmeliğin kapsadığı iş yerlerinde, Genel Müdürlük tarafından verilen belgeye sahip olmayan kişiler çalıştırılamaz. İş yeri sahipleri ve işletenleri, çalışanlarının hijyen eğitimi almasından ve belgeli olarak çalıştırılmasından birinci derecede sorumludur. Bizzat çalışmaları durumunda iş yeri sahipleri ve işletenleri de bu eğitimi almaya mecburdur.</p></div>

<button class="accordion"><i class="bi bi-plus-circle"></i>Hijyen eğitimine katılma şartları nelerdir?</button>
<div class="panel2">
<p>Kurs programına katılım şartları şu şekildedir;<br>
<ul>
<li>En az okur yazar olmak, mesleği yapacak bedensel ve zihinsel yeterliliğe sahip olmak.</li> 
<li> Yukarıdaki koşulları taşıyan bireylerin kursa katılırken aşağıdaki evrakları ibraz etmeleri gerekmektedir. Kurs kaydı sırasında istenilen evraklar;</li>
<li>Nüfus cüzdanı fotokopisi</li>
<li>Öğrenim durumunu gösterir belge (diploma, öğrenci belgesi vs.)</li>
  <li>Vesikalık Fotoğraf 4 adet</li>
    <li> *Bazı kurs programları ve meslekler için sağlık raporu, taahhütname, kurs başvuru formu gerekebilmektedir. Eğitim koordinatörünüzden bilgi alınız.</li> </ul></p></div>
        </div>
          
        
    </div>
</div>

<%- include('../contact') %>

  <%- include('../footer'); %>
  <%- include('../scripts') %>
</body>
</html>